body, html {
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  border-bottom: 1px solid #7e96a9;
  z-index: 9;
  background-color: #1E2731;
}

.nav-container{
  box-sizing: border-box;
    margin: 0px auto;
    max-width: 800px;
    padding: 0px 24px;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.navbar-nav{
  -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-right: 156px;
    padding-top: 2px;
}

.img-fluid{
  padding-right: 10px;
}

.nav-navbar{
  height: 100px;
}

.home-menu{
  align-items: center;
  align-self: center;
  justify-content: center;
}

.nav-link{
  border-bottom: 1px solid #7e96a9;
}

@media screen and (min-width:768px) {
  .home-menu{
    display: flex;
    max-height: 100px;
    
  }
  .collapse-logout{
   display: none !important; 
  }

  .navbar-expand-md .navbar-collapse {
    top: 0;
    justify-content: center;
  }
  .nav-link{
    border-bottom: none !important;
  }
}

.navbar-expand-md .navbar-nav{
  display: contents;
}


.nav-btn{
  color: #ef981d !important;
  border-color: #ef981d !important;
  border: 2px solid !important;
  border-radius: 2px !important;
  background-color: transparent !important;
  margin: 10px;
}

.card{
  border-radius: 10px !important;
  margin: 1rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid gray;
}

.card-container{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.card-bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 0px 5px;
}

.content-div{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

@media screen and (max-width:992px){
  .content-div{
    margin-top: 5rem;
  }
  .container-fluid{
    flex-wrap: nowrap !important;
  }
}
@media screen and (max-width:576px){
  .content-div{
    margin-top: 1rem;
  }
}

.brand-nav{
  z-index: 3;
}

.connect-btn-div{
  z-index: 3 !important;
}

.navbar-collapse{
  background-color: #1E2731;
    z-index: 2;
    position: fixed;
    top: 110px;
    width: 50%;
    left: 25%;
}

.content-container{
  max-width: 600px;
  padding: 2rem;
}

.content-h2{
  color: white;
  font-size: 35px;
  margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Work Sans",sans-serif;
}

.content-p{
  font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #fff;
}

.token-btn{
  color: #ef981d !important;
  border-color: #ef981d !important;
  border: 2px solid !important;
  border-radius: 2px !important;
  background-color: #1E2731 !important;
}
.popup-box {
  position: fixed;
  background: #000000c7;
  width: 100%;
  height: 100vh;
  top: 5;
  left: 0;
  z-index: 3;
}
 
.box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(25% - 30px);
  top: calc(107vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.log-out-btn{
  height: fit-content;
  margin: auto;
}
@media screen and (max-width:767px) {
    .log-out-btn{
      display: none !important;
    }
}

.connected-to-heading{
  color: #fff;
}

.connected-to-btn{
  background: transparent !important;
    border: none !important;
    color: #ef981d !important;
    margin-right: 10px;
}