body, html {
  height: 100%;
}

.App {
  text-align: center;
}



.card{
  border-radius: 10px !important;
  margin: 1rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid gray;
}

.card-container{
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.card-bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 0px 5px;
}

.content-div{
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

@media screen and (max-width:992px){
  .content-div{
    margin-top: 5rem;
  }
  .container-fluid{
    flex-wrap: nowrap !important;
  }
}
@media screen and (max-width:576px){
  .content-div{
    margin-top: 1rem;
  }
}

.brand-nav{
  z-index: 3;
}

.connect-btn-div{
  z-index: 3 !important;
}



.content-container{
  max-width: 600px;
  padding: 2rem;
}

.content-h2{
  color: white;
  font-size: 35px;
  margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: "Work Sans",sans-serif;
}

.content-p{
  font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #fff;
}

.token-btn{
  color: #ef981d !important;
  border-color: #ef981d !important;
  border: 2px solid !important;
  border-radius: 2px !important;
  background-color: #1E2731 !important;
}

